/target
.vscode/

# Docs rst files taken from lammps source code
lammps_docs/
# Intermediate docs files from the pipline. 
# The rst files with some changes to work with pandoc.
lammps_docs_cleaned/ 
# The full lammps/docs folder.
# Includes the docs as well build stuff
full_lammps_docs/

# An attempted rust based docs extractor may readd
extract_rst/

# For testing docs extraction
docs_filter.py
docs_example.rst
docs_example.md
prepare_docs.py

# Examples scripts from the LAMMPS Repo
# TODO: Un-ignore these and create proper tests to handle them
examples_from_lammps/

# Rust format backups
.*.rs.rustfmt

# not sure why this is here.
test.*

# Output from running --output-tree flag
tree.dot
*tree.svg

# Profiling outputs
flamegraph.svg
profile.json

# language-tool speel checking
.ltex/

# venv for docs extract
docs_venv/

# scratch files for experimenting with the pandoc conversions
pandoc_experimenting/

# Untracked
tmp/*

